In [35]:
def weight_alpha(a):
    for i in range(len(x1)):
        if(x1[i]>=0):
            x1[i]=x1[i]*(a/100)
        else:
            x1[i]=x1[i]+(x1[i]*((100-a)/100))
    for j in range(len(y1)):
        if(y1[j]>=0):
            y1[j]=y1[j]*(a/100)
        else:
            y1[j]=y1[j]+(y1[j]*((100-a)/100))
    
#df5.head() 
def modify(mul):
    for i in range(len(x1)):
        x1[i]=x1[i]*mul
        y1[i]=y1[i]*mul

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
data = pd.read_csv('clustered05.csv')
x1=data['batRI'].values
y1=data['bowlRI'].values
modify()



x= data.iloc[:,-3:-1].values
x=preprocessing.normalize(x)
x = preprocessing.scale(x)
y=data.iloc[:,-1].values

In [3]:
#print(x)
data.head()

    pid       batRI       bowlRI  clusterRI
0   3.0   76.146666   180.482185          0
1   6.0 -123.684211   349.038462          0
2   9.0  -42.231365   464.153475          4
3  12.0 -200.000000  1647.188139          1
4  13.0 -100.000000   -74.397798          0

In [4]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [48]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf = KNeighborsClassifier(n_neighbors=5,algorithm='ball_tree')
clf.fit(x_train,y_train)
y_pred3 = clf.predict(x_test)
acc3 =   accuracy_score(y_test,y_pred3)
print(acc3)

0.7156862745098039

In [71]:
df5 = pd.read_csv('newPlayerRI.csv')
# df5.head(10)

In [72]:
x1=df5['batRI'].values
y1=df5['bowlRI'].values
# print(x1)
# print(y1)

In [73]:
weight_alpha(70)
df6 = df5.copy()
modify(10000)
df6.head()

   series_played      pid     batAGR     batRI       bowlAGR        bowlRI
0              1  14336.0 -55.027642 -0.260000  4.392423e+02  1.076885e+00
1              1  10242.0 -91.991979 -0.369895  8.570000e+02  1.790746e+00
2              1  14338.0 -27.513821 -0.130000 -1.110223e-16 -5.054994e-19
3              1  14339.0 -27.513821 -0.130000 -2.400000e+01 -1.092752e-01
4              5   8198.0  86.578748  0.219787  6.823896e+02  1.625251e+00

In [74]:
test=df5[['bowlRI','batRI']].values
test=preprocessing.normalize(test)
test2 = preprocessing.scale(test)

In [75]:
pred=clf.predict(test2)
print(pred)

[0 0 0 ... 0 0 0]

In [76]:
#clf.predict(x_test)
df5.insert(6, "clusterRI", pred, True) 
df6.insert(6, "clusterRI", pred, True)

In [77]:
df5[['pid', 'batRI', 'bowlRI', 'clusterRI']].head()

       pid        batRI        bowlRI  clusterRI
0  14336.0 -2600.000000  1.076885e+04          0
1  10242.0 -3698.952447  1.790746e+04          0
2  14338.0 -1300.000000 -5.054994e-15          0
3  14339.0 -1300.000000 -1.092752e+03          0
4   8198.0  2197.865870  1.625251e+04          0

In [86]:
df5[['pid', 'batRI', 'bowlRI', 'clusterRI']]
df6[['pid', 'batRI', 'bowlRI', 'clusterRI']].to_csv('npclustered055.csv', index = False)

In [39]:
#from sklearn.preprocessing import StandardScaler
#sc=StandardScaler()
#y_train=sc.fit_transform(y_train)
#Y1=np.array.reshape(y_train,1)
#y_test=sc.transform(y_test)
#Y2=np.array.reshape(y_test,1)